.Home{
    margin: 1em;
    padding: .5em;
    background-color: rgb(133, 255, 255);
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;

}

.padding-y{
    padding-top: 1em;
    padding-bottom: .2em;
}
.padding-x{
    padding-right: .2em;
    padding-left: .5em;
}
.margin-x{
    margin-left: .5em;
    margin-right: .2em;
}
.text-end{
    text-align: end;
}
.btn-add{
    background-color: rgb(241, 121, 241);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border: 1px solid blueviolet;
}
.btn-add:hover{
    background-color: rgba(241, 121, 241, 0.37);
    cursor: pointer;
}