@import url('./CSS/Principal.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.back{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 26%, rgba(0,212,255,1) 100%);
}

.center{
  text-align: center;
}

.border{
  margin: .5em;
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  box-shadow:
       inset 0 -3em 3em rgba(132, 0, 255, 0.377),
             0.3em 0.3em 1em rgba(255, 115, 115, 0.3);
}
.allscreen{
  width: 100%;
  height: 100%;

}
body{
  background-color: #020024;
}
h3{
  margin-top:0px;

}

@media (max-width: 800px) {
  .Home {
    flex-direction: column;
    width: 86%;
  }
}
